.git
.gitignore
.venv
__pycache__/
**/__pycache__
**/__pycache__/**
*.pyc
**/*.pyc
*.pyo
*.pyd
.pytest_cache
**/.pytest_cache/**
data/raw
data/processed
results
models/*.parquet
models/*.pcap
models/*.pcapng
*.zip
*.tar
*.gz
*.bz2
*.log
